In [1]:
import pandas as pd
import datetime
import numpy as np
from pybaseball import statcast_pitcher
from pybaseball import playerid_lookup

In [2]:
today = datetime.datetime.today().strftime('%Y-%m-%d')

In [3]:
# ide = playerid_lookup('Castillo','Luis')['key_mlbam'][0]
# statcast_pitcher('2019-03-28', today, player_id = ide).to_csv('edited.csv')

In [4]:
def getPercents(ln,fn):
    if (fn == 'Luis'):
        ide = 622491
    else:
        ide = playerid_lookup(ln,fn)['key_mlbam'][0]
    data = statcast_pitcher('2019-03-28', today, player_id = ide)
    cleaned = data[['pitch_type','balls','strikes']]    
    typePitches = cleaned.groupby(['pitch_type','balls', 'strikes']).size().reset_index().rename(columns={0:'count'})
    totalPitches = cleaned.groupby(['balls', 'strikes']).size().reset_index().rename(columns={0:'count'})
    df3 = pd.merge(typePitches, totalPitches, on=["balls", "strikes"], how="right")
    df3['avg'] = df3['count_x'] / df3['count_y']
    new = df3[['pitch_type','balls','strikes','avg']]
    string = 'data/' + ln + '_' + fn + '.csv'
    new.to_csv(string)

In [5]:
getPercents('Ryu','Hyun-Jin')
getPercents('Castillo','Luis')
getPercents('Scherzer','Max')
getPercents('Soroka','Mike')
getPercents('Kershaw','Clayton')
getPercents('Buehler','Walker')

Gathering player lookup table. This may take a moment.
Gathering Player Data
Gathering Player Data
Gathering player lookup table. This may take a moment.
Gathering Player Data
Gathering player lookup table. This may take a moment.
Gathering Player Data
Gathering player lookup table. This may take a moment.
Gathering Player Data
Gathering player lookup table. This may take a moment.
Gathering Player Data

In [32]:
ide = playerid_lookup('Ryu','Hyun-Jin')['key_mlbam'][0]
check = statcast_pitcher('2019-03-28', today, player_id = ide)

Gathering player lookup table. This may take a moment.
Gathering Player Data

In [33]:
check.to_csv('dataCheck.csv')

In [117]:
data = statcast_pitcher('2019-03-28', today, 622491)
cleaned = data[['pitch_type','balls','strikes']]    
totalPitches = cleaned.groupby(['balls', 'strikes']).size().reset_index().rename(columns={0:'count'})

Gathering Player Data

In [162]:
totalPitches

    balls  strikes  count
0       0        0    458
1       0        1    196
2       0        2    100
3       1        0    215
4       1        1    187
5       1        2    156
6       2        0     85
7       2        1    123
8       2        2    152
9       3        0     31
10      3        1     60
11      3        2     96

In [105]:
    popular = cleaned['pitch_type'].mode()[0]
    d2 = cleaned[cleaned['pitch_type'] == 'FF']
    Diu2 = d2.groupby(['balls', 'strikes']).size().reset_index().rename(columns={0:'count'})
    Diu2

    balls  strikes  count
0       0        0    156
1       0        1     59
2       0        2     31
3       1        0     89
4       1        1     49
5       1        2     32
6       2        0     31
7       2        1     41
8       2        2     30
9       3        0     12
10      3        1     20
11      3        2     26

In [111]:
    Diu2['percent'] = Diu2['count'] / totalPitches['count']

In [112]:
Diu2

    balls  strikes  count  second   percent
0       0        0    156     458  0.340611
1       0        1     59     196  0.301020
2       0        2     31     100  0.310000
3       1        0     89     215  0.413953
4       1        1     49     187  0.262032
5       1        2     32     156  0.205128
6       2        0     31      85  0.364706
7       2        1     41     123  0.333333
8       2        2     30     152  0.197368
9       3        0     12      31  0.387097
10      3        1     20      60  0.333333
11      3        2     26      96  0.270833

In [32]:
ide = playerid_lookup("Kershaw",'Clayton')['key_mlbam'][0]
data = statcast_pitcher('2019-03-28', today, player_id = ide)
data

Gathering player lookup table. This may take a moment.
Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,CU,2019-07-20,73.2,0.8111,6.4342,Clayton Kershaw,643265,477132,field_out,hit_into_play,...,6,0,0,6,0,6,0,6,Standard,Standard
1,FF,2019-07-20,90.0,1.2749,6.2687,Clayton Kershaw,643265,477132,NaN,called_strike,...,6,0,0,6,0,6,0,6,Strategic,Standard
2,SL,2019-07-20,85.6,1.2782,6.3662,Clayton Kershaw,643265,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Strategic,Standard
3,SL,2019-07-20,85.4,1.4619,6.2999,Clayton Kershaw,643265,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Strategic,Standard
4,FF,2019-07-20,90.0,1.2645,6.3431,Clayton Kershaw,643265,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Strategic,Standard
5,FF,2019-07-20,90.9,1.1623,6.3008,Clayton Kershaw,445988,477132,field_out,hit_into_play,...,6,0,0,6,0,6,0,6,Standard,Standard
6,SL,2019-07-20,86.4,1.2563,6.3524,Clayton Kershaw,445988,477132,NaN,blocked_ball,...,6,0,0,6,0,6,0,6,Standard,Standard
7,FF,2019-07-20,89.5,1.3033,6.2905,Clayton Kershaw,445988,477132,NaN,called_strike,...,6,0,0,6,0,6,0,6,Standard,Standard
8,FF,2019-07-20,90.4,1.2322,6.2972,Clayton Kershaw,445988,477132,NaN,called_strike,...,6,0,0,6,0,6,0,6,Standard,Standard
9,CU,2019-07-20,74.7,0.8221,6.3888,Clayton Kershaw,592680,477132,strikeout,swinging_strike,...,6,0,0,6,0,6,0,6,Standard,Standard
10,SL,2019-07-20,86.2,1.3065,6.3314,Clayton Kershaw,592680,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Standard,Standard
11,FF,2019-07-20,89.5,1.1997,6.3810,Clayton Kershaw,592680,477132,NaN,swinging_strike,...,6,0,0,6,0,6,0,6,Standard,Standard
12,FF,2019-07-20,90.7,1.1781,6.2874,Clayton Kershaw,592680,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Infield shift,Standard
13,SL,2019-07-20,86.2,1.3827,6.3341,Clayton Kershaw,592680,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
14,FF,2019-07-20,90.1,1.1623,6.3262,Clayton Kershaw,592680,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
15,FF,2019-07-20,90.0,1.5213,6.3241,Clayton Kershaw,434158,477132,walk,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
16,FF,2019-07-20,88.9,1.4914,6.2448,Clayton Kershaw,434158,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
17,SL,2019-07-20,84.6,1.5460,6.4024,Clayton Kershaw,434158,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Infield shift,Standard
18,CU,2019-07-20,73.2,1.1481,6.4794,Clayton Kershaw,434158,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Infield shift,Standard
19,FF,2019-07-20,89.3,1.5776,6.2305,Clayton Kershaw,434158,477132,NaN,foul,...,6,0,0,6,0,6,0,6,Infield shift,Standard
20,SL,2019-07-20,84.6,1.6034,6.3121,Clayton Kershaw,434158,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
21,SL,2019-07-20,82.4,1.7200,6.3910,Clayton Kershaw,434158,477132,NaN,ball,...,6,0,0,6,0,6,0,6,Infield shift,Standard
22,FF,2019-07-20,89.8,1.6144,6.3502,Clayton Kershaw,434158,477132,NaN,called_strike,...,6,0,0,6,0,6,0,6,Infield shift,Standard
23,SL,2019-07-20,81.8,1.7066,6.3099,Clayton Kershaw,592407,477132,field_out,hit_into_play,...,4,0,0,4,0,4,0,4,Infield shift,Standard
24,FF,2019-07-20,90.2,1.5175,6.3536,Clayton Kershaw,592407,477132,NaN,ball,...,4,0,0,4,0,4,0,4,Infield shift,Standard
25,FF,2019-07-20,89.8,1.5726,6.2923,Clayton Kershaw,592407,477132,NaN,called_strike,...,4,0,0,4,0,4,0,4,Infield shift,Standard
26,FF,2019-07-20,89.7,1.5237,6.2889,Clayton Kershaw,527049,477132,field_out,hit_into_play,...,4,0,0,4,0,4,0,4,Infield shift,Standard
27,SL,2019-07-20,85.6,1.5249,6.3751,Clayton Kershaw,527049,477132,NaN,ball,...,4,0,0,4,0,4,0,4,Infield shift,Standard
28,FF,2019-07-20,89.9,1.5421,6.2968,Clayton Kershaw,527049,477132,NaN,foul,...,4,0,0,4,0,4,0,4,Infield shift,Standard
29,CU,2019-07-20,73.1,1.2366,6.5083,Clayton Kershaw,527049,477132,NaN,ball,...,4,0,0,4,0,4,0,4,Infield shift,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,FF,2019-04-15,89.6,1.6940,6.2997,Clayton Kershaw,622491,477132,NaN,foul,...,1,2,2,1,2,1,2,1,Strategic,Standard
1588,SL,2019-04-15,86.3,1.7763,6.4100,Clayton Kershaw,622491,477132,NaN,ball,...,1,2,2,1,2,1,2,1,Standard,Standard
1589,FF,2019-04-15,89.7,1.7119,6.3175,Clayton Kershaw,622491,477132,NaN,foul,...,1,2,2,1,2,1,2,1,Strategic,Standard
1590,SL,2019-04-15,85.9,1.5565,6.3889,Clayton Kershaw,571657,477132,field_out,hit_into_play,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1591,FF,2019-04-15,89.7,1.6533,6.3288,Clayton Kershaw,571657,477132,NaN,ball,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1592,CU,2019-04-15,73.9,1.2311,6.4647,Clayton Kershaw,571657,477132,NaN,ball,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1593,FF,2019-04-15,89.4,1.6426,6.2008,Clayton Kershaw,571657,477132,NaN,called_strike,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1594,CU,2019-04-15,73.1,1.3533,6.4202,Clayton Kershaw,594988,477132,field_out,hit_into_play,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1595,CU,2019-04-15,74.3,1.3412,6.4366,Clayton Kershaw,578428,477132,field_out,hit_into_play,...,1,2,2,1,2,1,2,1,Standard,Standard
1596,SL,2019-04-15,86.3,1.6521,6.2962,Clayton Kershaw,578428,477132,NaN,ball,...,1,2,2,1,2,1,2,1,Standard,Standard
1597,SL,2019-04-15,86.4,1.6711,6.3034,Clayton Kershaw,578428,477132,NaN,foul,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1598,FF,2019-04-15,89.1,1.6338,6.2884,Clayton Kershaw,578428,477132,NaN,foul,...,1,2,2,1,2,1,2,1,Infield shift,Standard
1599,SL,2019-04-15,86.5,1.6308,6.3112,Clayton Kershaw,606299,477132,strikeout,foul_tip,...,0,2,2,0,2,0,2,0,Standard,Standard
1600,CU,2019-04-15,74.2,1.3893,6.3661,Clayton Kershaw,606299,477132,NaN,foul,...,0,2,2,0,2,0,2,0,Infield shift,Standard
1601,FF,2019-04-15,90.6,1.6871,6.2102,Clayton Kershaw,606299,477132,NaN,foul,...,0,2,2,0,2,0,2,0,Infield shift,Standard
1602,SL,2019-04-15,87.3,1.6438,6.3118,Clayton Kershaw,461314,477132,field_out,hit_into_play,...,0,2,2,0,2,0,2,0,Infield shift,Standard
1603,FF,2019-04-15,91.1,1.6905,6.1814,Clayton Kershaw,461314,477132,NaN,ball,...,0,2,2,0,2,0,2,0,Infield shift,Standard
1604,SL,2019-04-15,87.6,1.4005,6.3004,Clayton Kershaw,624577,477132,home_run,hit_into_play_score,...,0,0,0,0,0,0,0,0,Standard,Standard
1605,FF,2019-04-15,90.5,1.3326,6.3347,Clayton Kershaw,624577,477132,NaN,ball,...,0,0,0,0,0,0,0,0,Standard,Standard
1606,CU,2019-04-15,74.9,1.0034,6.5180,Clayton Kershaw,624577,477132,NaN,swinging_strike,...,0,0,0,0,0,0,0,0,Standard,Standard
1607,SL,2019-04-15,87.5,1.3192,6.3303,Clayton Kershaw,624577,477132,NaN,foul,...,0,0,0,0,0,0,0,0,Standard,Standard
1608,FF,2019-04-15,90.3,1.7324,6.2645,Clayton Kershaw,553993,477132,single,hit_into_play_no_out,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1609,SL,2019-04-15,88.4,1.7190,6.2369,Clayton Kershaw,592200,477132,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1610,CU,2019-04-15,74.2,1.3206,6.3999,Clayton Kershaw,592200,477132,NaN,ball,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1611,FF,2019-04-15,91.2,1.6505,6.3376,Clayton Kershaw,592200,477132,NaN,ball,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1612,SL,2019-04-15,89.2,1.8415,6.2778,Clayton Kershaw,592200,477132,NaN,ball,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1613,CU,2019-04-15,74.5,1.3683,6.4559,Clayton Kershaw,592200,477132,NaN,foul,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1614,SL,2019-04-15,88.1,1.7068,6.3191,Clayton Kershaw,592200,477132,NaN,foul,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1615,SL,2019-04-15,87.7,1.7271,6.3827,Clayton Kershaw,592200,477132,NaN,foul,...,0,0,0,0,0,0,0,0,Infield shift,Standard
1616,FF,2019-04-15,90.2,1.6993,6.3127,Clayton Kershaw,592200,477132,NaN,called_strike,...,0,0,0,0,0,0,0,0,Infield shift,Standard

In [33]:
cleaned = data[['pitch_type','balls','strikes']]
cleaned

     pitch_type  balls  strikes
0            CU      2        2
1            FF      2        1
2            SL      2        0
3            SL      1        0
4            FF      0        0
5            FF      1        2
6            SL      0        2
7            FF      0        1
8            FF      0        0
9            CU      2        2
10           SL      2        2
11           FF      2        1
12           FF      2        0
13           SL      1        0
14           FF      0        0
15           FF      3        2
16           FF      2        2
17           SL      2        2
18           CU      2        2
19           FF      2        1
20           SL      1        1
21           SL      0        1
22           FF      0        0
23           SL      1        1
24           FF      0        1
25           FF      0        0
26           FF      2        2
27           SL      1        2
28           FF      1        2
29           CU      0        2
...         ...    ...      ...
1587         FF      1        1
1588         SL      0        1
1589         FF      0        0
1590         SL      2        1
1591         FF      1        1
1592         CU      0        1
1593         FF      0        0
1594         CU      0        0
1595         CU      1        2
1596         SL      0        2
1597         SL      0        1
1598         FF      0        0
1599         SL      0        2
1600         CU      0        1
1601         FF      0        0
1602         SL      1        0
1603         FF      0        0
1604         SL      1        2
1605         FF      0        2
1606         CU      0        1
1607         SL      0        0
1608         FF      0        0
1609         SL      3        2
1610         CU      2        2
1611         FF      1        2
1612         SL      0        2
1613         CU      0        2
1614         SL      0        2
1615         SL      0        1
1616         FF      0        0

[1617 rows x 3 columns]

In [34]:
typePitches = cleaned.groupby(['pitch_type','balls', 'strikes']).size().reset_index().rename(columns={0:'count'})
cleaned['pitch_type'].unique()

array(['CU', 'FF', 'SL', 'CH', nan], dtype=object)

In [35]:
totalPitches = cleaned.groupby(['balls', 'strikes']).size().reset_index().rename(columns={0:'count'})
totalPitches

    balls  strikes  count
0       0        0    441
1       0        1    227
2       0        2    116
3       1        0    139
4       1        1    170
5       1        2    172
6       2        0     35
7       2        1     75
8       2        2    151
9       3        0      6
10      3        1     18
11      3        2     67

In [38]:
df3 = pd.merge(typePitches, totalPitches, on=["balls", "strikes"], how="left")
df3['avg'] = df3['count_x'] / df3['count_y']

In [39]:
new = df3[['pitch_type','balls','strikes','avg']]
new

   pitch_type  balls  strikes       avg
0          CH      0        1  0.035242
1          CH      0        2  0.008621
2          CH      1        1  0.005882
3          CH      1        2  0.005814
4          CH      2        2  0.006623
5          CU      0        0  0.081633
6          CU      0        1  0.303965
7          CU      0        2  0.250000
8          CU      1        0  0.021583
9          CU      1        1  0.282353
10         CU      1        2  0.197674
11         CU      2        1  0.013333
12         CU      2        2  0.304636
13         CU      3        2  0.029851
14         FF      0        0  0.614512
15         FF      0        1  0.387665
16         FF      0        2  0.241379
17         FF      1        0  0.374101
18         FF      1        1  0.382353
19         FF      1        2  0.244186
20         FF      2        0  0.342857
21         FF      2        1  0.373333
22         FF      2        2  0.192053
23         FF      3        0  1.000000
24         FF      3        1  0.277778
25         FF      3        2  0.238806
26         SL      0        0  0.242630
27         SL      0        1  0.220264
28         SL      0        2  0.465517
29         SL      1        0  0.539568
30         SL      1        1  0.270588
31         SL      1        2  0.488372
32         SL      2        0  0.571429
33         SL      2        1  0.573333
34         SL      2        2  0.437086
35         SL      3        1  0.722222
36         SL      3        2  0.597015